.categoria {
    padding: 1.3em 2em;
}
.categoria__lista {
    display: flex;
    gap: 4em;
}

.categoria_ancora {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.3em;
    text-decoration: none;
    color: var(--cor-preta);
}

.categoria_ancora:hover {
    color: var(--cor-rosa);
    transform: scale(1.1);
}

.categoria__lista-icon {
    width: 30px;
}