.categoria {
    padding: 2em 2em;
}
.categoria__lista {
    display: flex;
    gap: 13px;
}

.categoria_ancora {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.categoria__lista-icon {
    width: 30px;
}