.navbar__container {
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 2em;
    box-shadow: -6px -5px 10px 0px;
}

.navbar__logo {
    width: 160px;
}

.lista__nevegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
}

.lista_link {
    text-decoration: none;
    color: var(--cor-preta);
    font-size: 17px;
}
